# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/
build/
dist/

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log

# OS / Editor
.DS_Store
.vscode/
.idea/

# Dependency locks (optional to ignore)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

# Coverage and caches
coverage/
.turbo/
.parcel-cache/
.cache/
*.tsbuildinfo

# Vercel
.vercel/


.ngems-62de5-firebase-adminsdk-fbsvc-338326775c.json